[build-system]
requires = ["setuptools >= 61.0", "setuptools-scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "spectral_film_lut"
dynamic = ["version"]
authors = [
  { name="Jan Lohse" },
]
description = "GUI to create LUTs to emulate film from spectral datasheets."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy",
    "colour-science",
    "scipy",
    "pyqt6",
    "numba",
    "imageio",
    "matplotlib",
    "opencv-python",
    "networkx"
]

[project.urls]
Homepage = "https://github.com/JanLohse/spectral_film_lut"
Issues = "https://github.com/JanLohse/spectral_film_lut/issues"

[project.gui-scripts]
spectral_film_lut = "spectral_film_lut.__main__:run"

[tool.setuptools_scm]
write_to = "src/spectral_film_lut/_version.py"
version_scheme = "release-branch-semver"
local_scheme = "no-local-version"