[Desktop Entry]
Name=Spectral Film LUT
Comment=Create LUTs to emulate film from spectral datasheets
Exec=SpectralFilmLUT
Icon=spectral_film_lut
Type=Application
Categories=AudioVideo;Video;
Terminal=false
